name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.12]

    steps:

    - name: Run command on remote server
      uses: D3rHase/ssh-command-action@v0.2.2
      with:
        host: ${{ secrets.HOST }}
        private_key: ${{ secrets.KEY_PRIVAT }}
        user: ${{secrets.USERNAME}}
        host_fingerprint: ${{ secrets.fingerprint }}
        command: |
            cd elicta7e.beget.tech;
            git checkout main;
            git pull;
